:root {
  --accent-color: #2196f3;
  --text-primary: #757575;
  --text-title: #212121;
  --primary-white-color: #ffffff;

  --primary-font: 'Roboto';
  --secondary-font: 'Raleway';
}

body {
  color: var(--text-title);
  background-color: var(--primary-white-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid tomato; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid green; */
}

/* ======= Heaeder style start here ======= */
header {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: var(--text-title);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-accent {
  color: var(--accent-color);
}

/* main-nav */

.main-nav {
  display: flex;
}
.nav-box {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  margin-left: 93px;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-title);

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link.current {
  color: var(--accent-color);
}

.contakts-box {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contakts-item:not(:last-child) {
  margin-right: 50px;
  display: flex;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;

  color: var(--text-primary);

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link:hover,
.contakts-link:focus {
  color: var(--accent-color);
}

.icon-contakts {
  margin-right: 10px;
}

.header-link-svg {
  color: var(--text-primary);
}

.header-link:hover .header-link-svg,
.header-link:focus .header-link-svg {
  fill: var(--accent-color);
}

/* ======= Heaeder style end here ======= */

/* ======= Hero style start here ======= */

button {
  cursor: pointer;
}

.main-hero {
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  text-align: center;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/fone.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  min-width: 200px;
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-white-color);

  font-family: 'Roboto', sans-serif;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-align: center;
}

/* ======= Hero style end here ======= */

/* ======= feauture style start here ======= */
.feature {
  padding: 0;
}

.feature-list {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-item:not(:last-child) {
  margin-right: 30px;
  max-width: 270px;
}

.feature-title {
  margin-bottom: 10px;

  color: var(--text-title);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-content {
  color: var(--text-primary);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.feature-list::before {
  content: '';
  display: flex;
}

.feature-title::before {
  content: '';
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

/* ======= feauture style end here ======= */

/* ==== What are we doing style start here ==== */
.work-list {
  padding: 0;
}

.work-examples-title {
  margin-bottom: 50px;

  color: var(--text-title);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.image-work {
  display: block;
  max-width: 100%;
  height: auto;
}

.work-examples {
  display: flex;
  padding-bottom: 94px;
}

.work-examples-item:not(:last-child) {
  margin-right: 30px;
}

/* ==== What are we doing style end here ====*/

/* ===== Our team style start here ===== */

.member-title {
  margin-bottom: 50px;

  color: var(--text-title);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.image-member {
  display: block;
  max-width: 100%;
  height: auto;
}

.member-list {
  display: flex;
  margin-left: -20px;
  margin-top: -20px;
}

.member-list > .member-item {
  flex-basis: calc(100% / 3 - 20px);
  margin-left: 20px;
  margin-top: 20px;
}

.card {
  width: 270px;
  height: 368px;
  left: 215px;
  top: 1635px;

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-content {
  padding: 30px;
}

.member-position {
  margin-top: 10px;
}

.our-team-section {
  background-color: #f5f4fa;
}

.member-team {
  color: var(--text-title);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.member-position {
  color: var(--text-primary);

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ===== Our team style end here ===== */

/* ===== Footer style start here ===== */

.footer-box {
  display: flex;
  flex-direction: column;
  background: #2f303a;
}

.address {
  padding: 0;
}

.footer-box {
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.location {
  color: #ffffff;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.logo-footer {
  color: var(--primary-white-color);

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.location:hover,
.location:focus {
  color: var(--accent-color);
}

/* ===== Footer style end here ===== */

/* =*=*=*= Portfolio =*=*=*= */

/* ===== Filter-button style start here ===== */
.button-list {
  padding: 0;
}

.filter-button {
  display: flex;
  border: transparent;
}

.filter-button {
  color: var(--text-title);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--accent-color);
}

.button-filter.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button-list-filter {
  display: flex;
  justify-content: center;
  margin: 94px 0 50px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.button-filter {
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;

  background: #f5f4fa;

  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
}

.button-filter:hover,
.button-filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ===== Filter-button style end here ===== */

/* ===== product-examples style start here ===== */
.link {
  display: block;
}
.link:hover,
.link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-card {
  width: 370px;
  height: 404px;
  left: 615px;
  top: 696px;

  background: var(--primary-white-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.product-list > .product-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.product-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.product-text {
  padding: 20px;
}

.product-examples {
  padding-top: 0;

  color: var(--text-title);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.link {
  color: var(--text-title);

  font-family: inherit;
}
.project-title {
  margin-bottom: 4px;

  color: var(--text-title);

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
/* ===== product-examples style end here ===== */

/* ===== branch style start here ===== */
.branch {
  color: var(--text-primary);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* ===== branch style end here ===== */
